table {
	border: 1px solid black;
}

td:hover {
	background-color: #FFDBE6;
	color: #FF698E;
}

tr, th {
	background-color: black;
	color: white;
}

tr, td {
	background-color: darkpink;
	color: white;
}

